body {
  font-family: sans-serif;
}

#progress {
  width: 100%;
  background-color: grey;
}

#timer {
  width: 1%;
  height: 30px;
  background-color: green;
}

.color1 {
  background-color: rgb(124, 252, 0);
}
.color2 {
  background-color: rgb(250, 128, 114);
}

.col.s1 {
  border: 1px solid black;
  text-align: center;
  line-height: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  padding: 0px;
  background-color: white;
}

.row {
  padding: 0px;
}

table {
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  height: 60px;
  width: 60px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 30px;
  background-color: white;
}

canvas {
  pointer-events: none;
}
